<!--header.html-->
{% load static %}
<div class='col-sm-4'>
<img src="{% static "images/yun's_gift.png" %}" width='150px' height='150px'> 
</div>
<style>
    table.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
    }
    th{
        border:2px solid #000;
        padding:10px;
        border-top-style: none;
        border-bottom-style: none;
    }
</style>
<div class='col-sm-4'>
    <table>
        <tr>
            <th>關於我們</th>
            <th>產品資訊</th>
            <th>資料圖表</th>
            <th>登出</th>
        </tr>
    </table>
</div>