{% extends 'base.html' %}
{% load static %}
{% block title %} 生日禮物 {% endblock %} <!--網頁名稱-->
{% block contant %}


    <div class='col-sm-4' >
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static "images/辣台妹_200306_0002.jpg" %}" alt="Card image" width="200" height="300">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>

  
    <div class='col-sm-4' >
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static "images/辣台妹_200306_0002.jpg" %}" alt="Card image" width="200" height="300">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>

    <div class='col-sm-4' >
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static "images/辣台妹_200306_0002.jpg" %}" alt="Card image" width="200" height="300">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>
    
    <div class='col-sm-4' >
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static "images/辣台妹_200306_0002.jpg" %}" alt="Card image" width="200" height="300">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>


    <div class='col-sm-4' >
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static "images/辣台妹_200306_0002.jpg" %}" alt="Card image" width="200" height="300">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>
    <div class='col-sm-4' >
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static "images/辣台妹_200306_0002.jpg" %}" alt="Card image" width="200" height="300">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>

{% endblock %}